:root {
  --color-primary-bg: #8FCDFF;
  --color-primary-text: #ffffff;
  --color-secondary-bg: #41B6FF;
  --color-secondary-text: rgba(255, 255, 255, 0.7);
  --color-third-bg: #009DFF;
  --color-stick: #4A5781;
  --color-hover: rgba(0, 157, 255, 0.3);
  --color-shadow: 1px 1.2px 1px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --color-primary-bg: #2B2B2B;
  --color-primary-text: #ffffff;
  --color-secondary-bg: #404040;
  --color-secondary-text: rgba(255, 255, 255, 0.7);
  --color-third-bg: #555555;
  --color-stick: #D5D5D5;
  --color-hover: rgba(64, 64, 64, 0.3);
  --color-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}