.popup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  box-shadow: var(--color-shadow);
  z-index: 1000;
  background-color: var(--color-secondary-bg);
  padding: 12px;
  border-radius: 10px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.popupInput {
  background-color: var(--color-third-bg);
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #6a6a6a;
  color: #FFFFFF;
}

.buttonGroup {
  display: flex;
  gap: 16px;
}

.saveButton {
  padding: 10px 16px;
  background-color: var(--color-primary-bg);
  box-shadow: var(--color-shadow);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #FFFFFF;
}

.likeOn {
  color: var(--color-third-bg);
  cursor: pointer;
}

.likeOff {
  color: var(--color-third-bg);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1280px) {
}