.title {
  font-weight: 800;
  font-size: 18px;
}

.img {
  display: flex;
  align-self: center;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
