.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 40px;
}

.mainWeather {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainTemperature {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 300px;
}

.mainWeatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px;
  border-radius: 10px;
  max-width: 350px;
  max-height: 300px;
}

.dailyContainer {
  background-color: var(--color-secondary-bg);
  border-radius: 10px;
}

.additionalContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 40px;
  align-self: center;
  justify-content: space-between;
}


.twoContainer {
  display: flex;
}

.littleContainer {
  padding: 10px 12px;
  width: 100%;
  max-width: 200px;
  height: 200px;
  background-color: var(--color-secondary-bg);
  border-radius: 10px;
}

.middleContainer {
  padding: 10px 12px;
  width: 350px;
  height: 200px;
  background-color: var(--color-secondary-bg);
  border-radius: 10px;
}

.middleContainer:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  width: 350px;
  height: 200px;
  background-color: var(--color-secondary-bg);
  border-radius: 10px;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .pollenContainer {
    max-height: 300px;
    height: 100%;
  }
}

.sharedContainer {
  display: flex;
  gap: 30px;
  width: 350px;
}

.weeklyContainer {
  padding: 10px 12px;
  background-color: var(--color-secondary-bg);
  border-radius: 10px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-weight: 700;
}

@media (max-width: 1280px) {
  .additionalContainer {
    justify-content: center;
  }
}

@media (max-width: 780px) {
  .mainWeather {
    flex-direction: column;
  }
  .mainWeatherInfo {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 780px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .additionalContainer {
    gap: 20px;
  }
  .littleContainer {
    max-width: 165px;
  }
}