.container {
  position: relative;
}

.favoritesList {
  height: 100px;
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  overflow-y: auto;
  background-color: var(--color-secondary-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px;
  position: absolute;
  box-shadow: var(--color-shadow);
  z-index: 9999;
}

.favoritesList::-webkit-scrollbar {
  width: 8px;
}

.favoritesList::-webkit-scrollbar-track {
  background: transparent;
}

.favoritesList::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.favoritesList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.icon {
  width: 24px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px 0;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    outline: none;
  }
}

.stick {
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}

.empty {
  text-align: center;
  color: #888;
  padding-top: 30px;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  min-height: 48px;
  gap: 8px;
  background-color: var(--color-secondary-bg);
  max-width: 200px;
  cursor: pointer;
  padding: 0 12px;
  box-shadow: var(--color-shadow);
}

.heading {
  font-size: 24px;
}

@media (max-width: 1280px) {
  .heading {
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .heading {
    display: none;
  }
  .containerButton {
    height: 56px;
  }
  .favoritesList {
    border-top-right-radius: 10px;
  }
}